  <section class="headline container">
    <h2>Some Text</h2>
  </section>

  <section class="row">
    <h2>Recent Videos</h2>
  </section>

  <section class="row">
    <h2>RecentPosts</h2>
  </section>

  
