<div class="android-navigation-container">
  <nav class="android-navigation mdl-navigation">
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/styles">Styles</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/posts">Blog</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/videos">Videos</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/logout">Sign Out</a>
  </nav>
</div>
