<div class="android-drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
      <%= image_tag @user.picture_url, class: "android-logo-image", alt: "User Picture" %>
      <%= @user.name %>
  </span>
  <nav class="mdl-navigation">
    <%= link_to "Make Appointment", '/auth/google_oauth2', class:"mdl-navigation__link" %>
    <a class="mdl-navigation__link" href="">Past Appointments</a>
    <a class="mdl-navigation__link" href="">My Styles</a>
    <a class="mdl-navigation__link" href="">TV</a>
    <a class="mdl-navigation__link" href="">Auto</a>
    <a class="mdl-navigation__link" href="">One</a>
    <a class="mdl-navigation__link" href="">Play</a>
  </nav>
</div>
